body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-variant: small-caps;
  width: 100%;
  height: auto;

}

h1,
h2,
h3 {
  color: blue;
  font-size: 30px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-variant: small-caps;
  border-style: ridge;
}
p {
  color: blue;
  font-weight: bold;
  font-size: large;
}
#img {
  background-color: yellow;
  width: 100%;
  text-align: center;
  font-size: 25px;
  font-weight: bolder;
  color: #800000;
}
#color {
  background-color: #fff8dc;
}
#footer {
  position: relative;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: red;
   color: white;
   text-align: center;
}
/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: red;
  color: white;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: red;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #555;
}

#container{
  color: white;
  width: 200px;
  margin: 8.5%;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 20px;
  text-align:center;
}
.container{
  background:transparent;
  position: absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  width: 250px;
  height: 60px;
  margin: 20% auto;
  border: 1px solid #e3e3e3;
  background-color: rgba(204,204,204,0.3);
  text-shadow: 1px 1px 1px grey;
  
}
